/* import "bootstrap/dist/css/bootstrap.min.css"; */
 body{
  background-color: #e2f5eb;
  overflow-x: hidden;
 }
.about-us-container {
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    flex:auto
  }
  
  .about-us {
    margin-top: 80px; /* adjust this value to match the height of your navbar */
    
  }

  .course-con{
    margin: 80px 0; /* adjust this value to match the height of your navbar */
    display: flex ;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;

  }

  .mt-10{
    margin-top: 100px;
  }

  .object-fit{
    width: 300px;
    object-fit: contain;
  }
  .carousel-image {
    margin-top: 80px;
    width: 2000px;
    height: 400px;
    object-fit: cover; 
  }
  .background{
    background-color: #e2f5eb;
  }
  .contact-page {
    display: flex;
    min-height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  .contact-image {
    width: 100%;
    height: 80%;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  
  .contact-form {
    width: 100%;
  }
  